Repository 0xhokusai/hokusai-api-client-sample: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .tsx --ext .ts --fix, prettier --write

add form
  .eslintrc.yml
  .lintstagedrc
  package.json
  src/App.tsx
  src/components/Form.tsx
  src/components/WalletConnect.tsx
  src/context/WalletProvider.tsx
  src/pages/Home.tsx
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

add sign
  package.json
  src/abis/ERC721WithRoyaltyMetaTx.json
  src/abis/MinimalForwarder.json
  src/components/Form.tsx
  src/components/WalletConnect.tsx
  src/context/WalletProvider.tsx
  src/utils/TypedData.ts
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

cleaned
  src/components/Form.tsx
  src/components/WalletConnect.tsx
  src/context/WalletProvider.tsx
  src/pages/Home.tsx
  src/utils/TypedData.ts
Due: eslint --ext .tsx --ext .ts --fix

tmp
  src/components/Form.tsx
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix

Fix contract message
  src/components/Form.tsx
Due: eslint --ext .tsx --ext .ts --fix

:recycle: add network config
  .env.example
  .gitignore
  src/context/WalletProvider.tsx
Due: eslint --ext .tsx --ext .ts --fix

:recycle: add default value
  .env.example
  src/components/Form.tsx
  src/context/WalletProvider.tsx
Due: eslint --ext .tsx --ext .ts --fix

:construction: add mint feat
  src/components/MintForm.tsx
  src/components/TransferForm.tsx
  src/pages/Home.tsx
Due: eslint --ext .tsx --ext .ts --fix

:lipstick: kirei
  src/components/MintForm.tsx
  src/pages/Home.tsx
Due: eslint --ext .tsx --ext .ts --fix

:sparkles: add polygonscan link
  src/components/MintForm.tsx
  src/components/TransferForm.tsx
  src/utils/Poygonscan.ts
Due: eslint --ext .tsx --ext .ts --fix

:recycle: rename
  src/components/MintForm.tsx
  src/utils/Poygonscan.ts
Due: eslint --ext .tsx --ext .ts --fix

:rocket: app 猿人
  .gcloudignore
  app.yaml
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
Due: prettier --write

:bug: fix .env
  .env.example
Due: none

:recycle: rename network
  src/context/WalletProvider.tsx
Due: eslint --ext .tsx --ext .ts --fix

:sparkles: add network change
  src/components/WalletConnect.tsx
  src/context/WalletProvider.tsx
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix

update package
  package.json
  yarn.lock
Due: prettier --write

update url
  .env.example
  package.json
  src/components/MintForm.tsx
  src/components/TransferForm.tsx
  src/context/WalletProvider.tsx
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

add error
  src/components/MintForm.tsx
  src/components/TransferForm.tsx
  src/context/WalletProvider.tsx
  src/utils/Poygonscan.ts
Due: eslint --ext .tsx --ext .ts --fix

to vite
  index.html
  src/@types/node.d.ts
  src/components/MintForm.tsx
  src/components/TransferForm.tsx
  vite.config.ts
Due: eslint --ext .tsx --ext .ts --fix

add metadata
  .env.example
  .eslintrc.yml
  package.json
  public/index.html
  src/components/MetadataForm.tsx
  src/components/MintForm.tsx
  src/components/TransferForm.tsx
  src/pages/Home.tsx
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

add preview
  src/components/MetadataForm.tsx
Due: eslint --ext .tsx --ext .ts --fix

Format metadata url
  src/components/MetadataForm.tsx
Due: eslint --ext .tsx --ext .ts --fix

Install @chakra-ui/icons
  package.json
  yarn.lock
Due: prettier --write

List mint data for batch mint
  src/components/BatchMintForm.tsx
  src/components/MintDataCard.tsx
  src/pages/Home.tsx
Due: eslint --ext .tsx --ext .ts --fix

Fix body n network params for v2 endpoint
  package.json
  src/components/BatchMint/CSVTemplate.tsx
  src/components/BatchMint/DropZone.tsx
  src/components/BatchMint/index.tsx
  src/components/BatchMint/niceBytes.ts
  src/components/BatchMint/sample.json
  src/components/MintDataCard.tsx
  src/pages/Home.tsx
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

Remove unnecessary file
  src/components/BatchMintForm.tsx
Due: eslint --ext .tsx --ext .ts --fix

Change body paramas "addres" to "to"
  src/components/BatchMint/index.tsx
  src/components/BatchMint/sample.json
  src/components/MintDataCard.tsx
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

Add: header
  .eslintrc.yml
  .gitignore
  src/App.tsx
  src/components/Header/Hooks.ts
  src/components/Header/index.tsx
  src/pages/Home.tsx
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

Modify: select tab hooks
  src/components/Header/Hooks.ts
  src/components/Header/index.tsx
  src/components/Tabs/Mint/hooks.ts
  src/components/Tabs/Mint/index.tsx
  src/pages/Home.tsx
Due: eslint --ext .tsx --ext .ts --fix

Add: multi-chain and new ux in the MintV2 tab
  package.json
  src/components/MetadataForm.tsx
  src/components/MintFormV1.tsx
  src/components/Tabs/Mint/hooks.ts
  src/components/Tabs/Mint/index.tsx
  src/components/TransferForm.tsx
  src/pages/Home.tsx
  yarn.lock
Due: eslint --ext .tsx --ext .ts --fix, prettier --write

Add: Batch Mint
  src/App.tsx
  src/components/BatchMint/CSVTemplate.tsx
  src/components/BatchMint/index.tsx
Due: eslint --ext .tsx --ext .ts --fix

Path conditions:
  eslint --ext .tsx --ext .ts --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yml}
